.tracking-page {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;

  margin-left: auto;
  margin-right: auto;
}

.tracking-page .back-to-orders-link {
  display: inline-block;
  margin-bottom: 30px;
}

.tracking-page .delivery-date {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tracking-page .product-info {
  margin-bottom: 3px;
}

.tracking-page .product-image {
  max-width: 150px;
  max-height: 150px;
  margin-top: 25px;
  margin-bottom: 50px;
}