.product-image-container {
    text-align: center;
}

.product-image-container img {
    max-width: 110px;
    max-height: 110px;
}

.product-details .product-name {
    font-weight: 700;
    margin-bottom: 5px;
}

.product-details .product-delivery-date {
    margin-bottom: 3px;
}

.product-details .product-quantity {
    margin-bottom: 8px;
}

.product-details .buy-again-button {
    font-size: 14px;
    width: 140px;
    height: 36px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.product-details .buy-again-icon {
    width: 20px;
    margin-right: 10px;
}

.product-actions .track-package-button {
    width: 100%;
    font-size: 14px;
    padding: 8px;
}

@media (max-width: 800px) {
    .product-details .buy-again-button {
        margin-bottom: 10px;
    }

    .product-actions {
        grid-column: 2;
        margin-bottom: 30px;
    }

    .product-actions .track-package-button {
        width: 140px;
    }
}

@media (max-width: 450px) {
    .product-image-container {
        text-align: center;
        margin-bottom: 25px;
    }

    .product-image-container img {
        max-width: 150px;
        max-height: 150px;
    }

    .product-details .product-name {
        margin-bottom: 10px;
    }

    .product-details .product-quantity {
        margin-bottom: 15px;
    }

    .product-details .buy-again-button {
        width: 100%;
        margin-bottom: 15px;
    }

    .product-actions {
        grid-column: auto;
        margin-bottom: 70px;
    }

    .product-actions .track-package-button {
        width: 100%;
        padding: 12px;
    }
}